$nav-bg: #87509c;
$services-bg: #17c2a4;
$team-bg: #e7f1f8;
$portfolio-bg: #ffdd99;
$testimonial-bg: #d74680;
body{
  font-family: 'Titillium Web', sans-serif;
}
.navbar{
  background: #87509c;
  box-shadow: 2px 2px 5px $nav-bg;
  .nav-item{

      font-size: 16px;
      padding-right: 20px;
    }

  .nav-link:hover{
      border-radius: 5px;
        background: #643a79;

      }
      .nav-item:last-child{
      padding-right: 0;
    }
}
#home{
  height: 450px;
  background: $nav-bg;

  h2{
    font-size: 41px;
    color: #fff;
    margin-top: 50px
  }
  .btn{
    margin-top: 30px;
    background: #eb7d4b;
    color: #fff;
    border-radius: 5px;
    border-bottom: .3rem solid #c86a40;
  }
}
#services{
  #line{
    background: #c8d9e5;
    height: 5px;
    width: 100px;
    margin-left: 45%;
  }
  h2{
    font-size: 40px;
  }
  h3{
    font-size: 24px;
  }
  p{
    font-size: 18px;
  }
  color: #fff;
  background: $services-bg;
  #new{
    p{
      font-size: 16px;
    }
  }
}

#team{


  background: $team-bg;
  color: #3c4761;
  #line{
    background: #c8d9e5;
    height: 5px;
    width: 100px;
    margin-left: 45%;
  }
  .fa{
    font-size: 20px;
  }
  #circle{
    background: #000;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  h2{
    font-size: 40px;
  }
  h3{
    font-size: 24px;
  }
  p{
    font-size: 18px;
  }
  #new{
    p{
      font-size: 16px;
    }
  }
}
#skill{
  color: #3c4761;
  #line{
    background: #dfe8ed;
    height: 5px;
    width: 100px;
    margin-left: 45%;
  }
  h2{
    font-size: 40px;
  }
  h3{
    font-size: 24px;
  }
  p{
    font-size: 18px;
  }
  .web-design{
    circle{
      stroke-width: 5;
      stroke: #30bae7;
    }
    text{
      fill: #3c4761;
    }
  }
  .html-css{

    circle{
      stroke-width: 5;
      stroke: #d74680;
    }
    text{
      fill: #3c4761;
    }
  }
  .graphic-design{

    circle{
      stroke-width: 5;
      stroke: #15c7a8;
    }
    text{
      fill: #3c4761;
    }
  }
  .ui-ux{

    circle{
      stroke-width: 5;
      stroke: #eb7d4b;
    }
    text{
      fill: #3c4761;
    }
  }
}

  #portfolio{
    background: $portfolio-bg;
    h2{
      font-size: 40px;
    }
    h4{
      font-size: 18px;
    }
    p{
      font-size: 18px;
    }
    #line{
      background: #e5c37f;
      height: 5px;
      width: 100px;
      margin-left: 45%;
    }
    .btn{

      background: #ebc985;
      width: 80px;
      border-radius: 5px;

          }
    img{
      width: 100%;
      height: auto;
    }
    #btnPortfolio{
      background: #17c2a4;
      height: 60PX;
      width: 250px;
      border-radius: 5px;
      border-bottom: .3rem solid #14a58c;
    }
  }
  #testimonial{
    background: $testimonial-bg;
    h2{
      font-size: 40px;
    }
    h3{
      font-size: 24px;
    }
    p{
      font-size: 21px;
    }
    #line{
      background: #b73c6d;
      height: 5px;
      width: 100px;
      margin-left: 45%;
    }
    span{
      color: #ffdd99;
      font-size: 18px;
    }
  }
  #contacts{
    input[type="text"]{
      color: #fff;
    }
    background: #3c5499;
    #line{
      height: 5px;
      width: 100px;
      margin-left: 45%;
    }
    ::placeholder{
      color: #fff;
      opacity: 0.9;
    }
     .form-control-lg{
    background: #273a71;
    border: 0px;
     }
     .btn{
       background: #30bae7;
       border-bottom: .2rem solid #299ec5;
       font-size: 18px;
     }

  }
  #footer{
    background: #344b8e;
    font-size: 24px;
    a:hover{
      text-decoration: none;
    }
  }
@media(max-width:667px){

  #home{

    h2{
      font-size: 30px;
    }
  }
  #services{
    h2{
      font-size: 30px;
    }
  }

}
